/*STYLING AF FONT */
p {
    font-family: "Montserrat", serif; 
    font-size: medium;
}

h1 {
    font-family: "Gabarito", serif;
    font-size: xx-large;

}

h2 {
    font-family: "Montserrat", serif; 
    color: rgb(0, 0, 0); /*farve på spørgsmålene i boksen */
    font-weight: bold;
    font-size: x-large;

}

/*STYLING AF BILLEDE MED LISBETH OG OM HENDE SEKTION */

/*Her styler jeg den sektion som både billede og tekst er i */
.lisbeth_container {
    background-color: #7eb6cc; /* Tilføjer baggrundsfarve */
    padding: 5px; /* Indvendig afstand rundt om containeren*/
}

 /*Her laver jeg en container til billede og tekst så de er ved siden af hinanden*/
.image-text-container {
    display: flex; /* Bruger flexbox for at få billede og tekst til at stå på række */
    align-items: center; /* Centrerer elementerne lodret i forhold til hinanden */
    gap: 50px; /* Tilføjer 50px afstand mellem billede og tekst */
    margin: 3rem; /* Tilføjer en margin på omkring containeren */
    
}

#lisbeth_billed {
    width: 500px; /* Bredde på billedet*/
    height: 300px; /* højden på billedet */
}

/* HER STARTER FAQ STYLING bla */

.faq-section {
    max-width: 80vw; /*bredde på boksene*/
    margin: 100px auto; /*spacing under den sidste boks samt over ´spørgsmål og svar´ */

}

.faq-container {
    border-radius: 10px; /*runding af hjørne */
    margin-bottom: 20px; /*afstand mellem tekstboksene */
    padding: 10px; /*spacing over og under spørgsmålet inde i boksen */
    cursor: pointer; /*gør at det er en finger der peger på spørgsmål når musen hover hen over */
    background: #7eb6cc; /*baggrundsfarve i boksen */
}


.faq-container:hover {
    background: #bad5e1; /*farve når musen holdes hen over boksen */
    opacity: 80%; /*gør at farvens styrke er lidt nedsat så man kan se at musen holdes hen over*/
}


.answer {
    display: none;
    margin-top: 10px; /*afstand fra tekst og overskrift*/
    color: #000000; /*farve på paragraph teksten inden i boksen*/
}

/*HER BEGYNDER FOOTER STYLING */

.footer {
    background-color: #7eb6cc; /* Tilføjer baggrundsfarve */
    padding: 20px 40px; /* Indvendig afstand i toppen og ude ved siderne (højre og ventre side) */
}

.footer-container {
    display: flex; /* Bruger flexbos her til at få indholdet til at se sådan ud som det gør */
    justify-content: space-between; /* Fordeler afstand mellem elementer */
    align-items: center; /*Centrerer indholdet lodret */
    max-width: 1200px; /* Giver maks bredde på containeren */
    margin: 0 auto; /*centrere containeren horisontalt på siden  */
}

.footer-column.left {
    flex: 1; /* Sørger for at fylde venstre side */
    text-align: left; /*Justere tekst til venstre */
    line-height: 0.5; /* Sætter linjehøjde til 0.5 for at reducere afstanden mellem linjerne */
}

.footer-right {
    display: flex; /* Bruger flexbox til at arrangere indholdet i denne sektion */
    gap: 40px; /* Juster afstanden mellem kolonner */
    line-height: 0.5; /* Sætter linjehøjde til 0.5 for at reducere afstanden mellem linjerne */
    
}

.footer-column {
    text-align: right; /* Justere tekst til højre */
}
