.slideshow-container {

  width: 100%;
  max-width: 100%;
  height: 80vh; /* Adjust height as needed */
  overflow: hidden; /* Ensure images don't overflow */
  margin: 0;
  padding: 0;
}

.mySlides {
  display: none;
  width: 100%;
  height: 100%; /* Ensure all slides have the same height */
}

.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure images maintain aspect ratio and cover the container */
}

.text-overlay {
  position: absolute;
  top: 35%; /* Center vertically */
  left: 10vw; /* Center horizontally */
  color: white; /* Text color */
  text-align: left; /* Center text */
  border-radius: 10px; /* Rounded corners */
  z-index: 2; /* Ensure text is above the images */
}

.dots-container {
  position: relative;
  bottom: 100px; /* Position dots at the bottom */
  left: 50%;
  transform: translateX(-50%); /* Center the dots horizontally */
  text-align: center;
  background: rgba(0, 0, 0, 0); /* Optional: Add background for better visibility */
  padding: 5px 10px;
  border-radius: 20px;
  z-index: 2; /* Ensure dots are above the images */
}

.dot {
  cursor: pointer;
  height: 1.2vh;
  width: 1.2vh;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active, .dot:hover {
  background-color: #717171;
}

.button-blue { 
  border-radius: 10px;
  margin-right: 5px;
  padding: 0.9vh 4vw;
  border: 0px;
  background-color: #7EB6CC;
  font-size: larger;
}
.button-grey { 
  border-radius: 10px;
  padding: 0.9vh 4vw;
  border: 0px;
  background-color: #CBCBCB;
}

.button-blue:hover{
  background-color: #BAD5E1;
}

.button-grey:hover{
  background-color: #BAD5E1;
}

h2 {
  font-family: "Montserrat", serif; 
  font-size:medium;
  font-weight: 400;
}

p {
  font-family: "Montserrat", serif; 
  font-size: medium;
}

h1 {
  font-family: "Gabarito", serif;
  font-size: xx-large;

}